/* BODY */

body {
  background-color: #fffff;
  font-family: sans-serif;
  margin: 0;
}

#section {
  background-color: #5ec4c0;
  border-radius: 5px;
  margin: 30px;
  padding: 10px;
  box-shadow: 2px 2px 10px #cccccc;
  overflow: hidden;
}

#paper {
  border-radius: 5px;
  width: auto;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px #4a9b98;
  padding: 10px;
  margin: 5px;

}

#paper.left {
  float: left;
  width: 45%;
}

#paper.right {
  float: right;
  width: 45%;
}

/* NAVIGATION */

#nav .moveLeft {
    position: relative;
    right: 40px;
}

#nav .moveUp {
    position: relative;
    bottom: 10px;
}

#nav .active {
  background-color: #4a9b98;
  font-weight: normal;
}

#nav ul {
  font-family: sans-serif;
  list-style-type: none;
  background-color: #5ec4c0;
  color: #ffffff;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
} 

#nav li {
  color: #ffffff;
}

#nav li:hover {
  background-color: #4a9b98;
  font-weight: bold;
}

#nav ul li {
  display: inline;
  padding: 10px;
}

#nav a {
  text-decoration: none;
  color: #ffffff;
}

#nav a:visited {
  text-decoration: none;
  color: #ffffff;
}

/* HEADING */

.center {
  text-align: center;
}

.noncenter {
  text-align: left;
}

h1 {
  margin: 10px;
}

h2 {
  margin: 10px;
}

p {
  margin: 10px;
  text-align: center;
}
