/* BODY */

body {
background-color: #fffff;
}

#nav ul {
  font-family: sans-serif;
  list-style-type: none;
  display: inline;
  background-color: #5ec4c0;
  color: #ffffff;
  margin: 0;
  padding: 0;
} 

li {
  color: #ffffff;
}
